* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(44, 44, 44);
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.countdown-img {
  padding: 2rem;
  height: 50vh;
}
